<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICoffeeMachine" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:12294/CoffeeMachine.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICoffeeMachine"
                contract="IoT.CoffeeMachine.ICoffeeMachine" name="BasicHttpBinding_ICoffeeMachine" />
        </client>
    </system.serviceModel>
</configuration>