@using SmartQueue.Authorization.Infrastructure
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Smart Queue</h1>
    <p class="lead">Добро пожаловать на сайте SmartQueue!</p>
    <p>Приве, @User.Identity.GetUser().Name! С помощью этого сервисы ты сможешь заказать напиток в своему офисе не вставай со своего рабочего места!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Предпочтения</h2>
        <p>
            Выставляйте свои предпочтения, для того чтоб быстро заказать себе напиток с вашими любимыми настройками
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Preferences")">Мои предпочтения &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Очередь</h2>
        <p>Занимайте очередь парой кликов, не уходя со своего места</p>
        <p><a class="btn btn-default" href="@Url.Action("AddToQueue", "Queue")">Очередь &raquo;</a>
        </p>
    </div>
    @if (User.IsInRole("Director"))
    {
        <div class="col-md-4">
            <h2>Новые кофеварки</h2>
            <p>Для регистриции новых кофеварок необходимо свзяать с администраторо</p>
            <p><a class="btn btn-default" href="mailto:admin@SmartQueue.com">Связаться с администрацией &raquo;</a>
            </p>
        </div>
    }
</div>